body {
	font-family: Helvetica Neue;
	color: #ffffff;
	width: 820px;
	height: 3000px;
	overflow: hidden;
	margin: 0;
	background-color: pink;
}

html {
	height: 100%;
}

.notification {
	width: 820px;
	height: 3000px;
	-webkit-animation-duration: .4s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-name: slide;
	-webkit-animation-timing-function: ease-in;
	position: relative;
	background: url(./fang-buttons.png) #000 no-repeat 10px 10px;
	background-color: #000;
	right: -820px;
	top: 0;
	z-index: -1;
	margin: 0;
}

@-webkit-keyframes slide {
	100% {
		right: 0;
	}
}
@-webkit-keyframes pop {
	from {
		-webkit-transform: scale(.1);
	}
	80% {
		-webkit-transform: scale(1.2);
	}
	to {
		-webkit-transform: scale(1)
	}
}

#title {
	z-index: 1;
	font-size: medium;
	color: rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	padding: 10px;
}

#text {
	z-index: 1;
	padding: 10px;
	font-family: Monaco;
	font-size: 13px;
	line-height: 15px;
}

#emergency #text {
	color: red;
}

#buttons {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 0;
}
